{% extends "base.html" %}

{% set title = "Home" %}

{% block content %}
    <h1>
        JSLess Recipes
    </h1>

    <p>
        JSLess Recipes is a home for simple recipes that aren't hard on your bandwidth, patience, or temper.
        Getting your recipe should be the easiest bit of cooking, not the most irritating.
    </p>

    <a href="{{ url_for('search') }}">Browse all recipes</a>

    <form action="search">
        <label>
            Search for a recipe
            <input name="query" placeholder="chicken curry">
        </label>
        <input type="submit">
    </form>

    <form action="ingredient_search">
        <label>
            Search by ingredients
            <input name="query" placeholder="tomato, passata, cheese...">
        </label>
        <input type="submit">
    </form>
{% endblock %}